@model IEnumerable<PucWebApplication.Models.Usuario>
@{
    ViewData["Title"] = "login";
    ViewData["Title"] = "index";
}

<!DOCTYPE html>
<HTML>

<head>
    <title>Minha Faxina - Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configurando Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Fim da Configuracao Bootstrap -->
    <!-- Configuração Style -->
    <link rel="stylesheet" href="/css/Pesquisa.css">
    <!-- Fim Configuração Style -->
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">


    <!-- TOP NAV -->
    <div class="top-nav" id="home">
    </div>

    <!-- MENU NAV -->
    <nav class=" navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="navbar container">
            <img src="/Imagens/Logo.jpg" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Faxineiras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Time</a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-item usuario">
                        <div class="dropdown">
                            <button class="usuario dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Olá, @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item first-item" href="#">Meu Perfil</a></li>
                                <li><a asp-controller="Usuarios" asp-action="Logout" class="dropdown-item last-item">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-item usuario">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="botao">
                            Login
                        </button>
                    </div>
                }

            </div>

        </div>
        <div>
            <div class="col-auto pesquisa">
                @using (Html.BeginForm("Pesquisa", "Resultado", FormMethod.Get))
                {
                    <input type="text" name="Pesquisa" placeholder="Pesquise por nome, endereço ou CEP">
                    <input type="submit" value=" " class="botao-pesquisa" />
                }
            </div>
        </div>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Perfil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</HTML>