@model IEnumerable<PucWebApplication.Models.Usuario>
@{
    ViewData["Title"] = "login";
    ViewData["Title"] = "index";
}

<!DOCTYPE html>
<HTML>

<head>
    <title>Minha Faxina - Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configuração de Media Query -->

    <!-- Fim Configuração de Media Query -->
    <!-- Configurando Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Fim da Configuracao Bootstrap -->
    <!-- Configuração Style -->
    <link rel="stylesheet" href="/css/Pesquisa.css">
    <link href="grid/simple-grid.min.css" rel="stylesheet">
    <!-- Fim Configuração Style -->
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">


    <!-- TOP NAV -->
    <div class="top-nav" id="home">
    </div>

    <!-- MENU NAV -->
    <nav class=" navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="navbar container">
             <a asp-controller="Home" asp-action="Index"><img src="/Imagens/Logo.jpg" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a> 
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Faxineiras</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Time</a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-item usuario">
                        <div class="dropdown">
                            <button class="usuario dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Olá, @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item first-item" href="#">Meu Perfil</a></li>
                                <li><a asp-controller="Usuarios" asp-action="Logout" class="dropdown-item last-item">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-item usuario">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="botao">
                            Login
                        </button>
                    </div>
                }

            </div>

        </div>
        <div>
            <div class="col-auto pesquisa">
                @using (Html.BeginForm("Pesquisa", "Resultado", FormMethod.Get))
                {
                    <input type="text" name="Pesquisa" placeholder="Pesquise por nome, endereço ou CEP">
                    <input type="submit" value=" " class="botao-pesquisa" />
                }
            </div>
        </div>
    </nav>

    <div style="display: none">
                    @Html.DisplayNameFor(model => model.Nome)

                    @Html.DisplayNameFor(model => model.Idade)

                    @Html.DisplayNameFor(model => model.Bairro)

                    @Html.DisplayNameFor(model => model.Cidade)

                    @Html.DisplayNameFor(model => model.Complemento)
    </div>
    <div class="row">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Imagens/team_1.jpg" style="width:263px; margin-top:10px;" alt="Imagem de capa do card">
                    <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                    </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b>Idade:</b> @Html.DisplayFor(modelItem => item.Idade) </li>

                <li class="list-group-item"> <b>Cidade:</b> @Html.DisplayFor(modelItem => item.Cidade) </li>

                <li class="list-group-item"> <b>Bairro:</b> @Html.DisplayFor(modelItem => item.Bairro) </li>
            </ul>
            <div >
                    <a class="btn first" href="https://wa.me/ '@Html.DisplayFor(modelItem => item.Complemento)'"> Entrar em Contato</a>
            </div>
            </div>
            }
            
    </div>
</body>
</HTML>